<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultural Committee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>    
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
  <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py=0 fixed-top">
    <img src="/images/speclogo.png" class="w-15 h-10">
    <a href="/index.html" class="navbar-brand">Spectrum</a>
        <button type="button" href="#" class="navbar-toggler" data-toggle="collapse" data-target="#navlinks" active>
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navlinks">
        <ul class="navbar-nav">
            <!-- Navbar sub-links -->
            <li class="nav-item"><a href="https://mccmulund.ac.in/new1/" class="nav-link">About MCC</a></li>
            <li class="nav-item"><a href="/views/cultcom.html" class="nav-link">Cultural committee</a></li>
            <li class="nav-item"><a href="/views/events.html" class="nav-link">Events</a></li>
        </ul>					
    </div>
</nav>
    <section id="faculty" class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div id="cc" class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-4xl font-medium title-font mb-4 text-gray-900">Core Team</h1>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Harsh Mandhane</h2>
                  <p class="text-gray-500">General secretary</p>
                </div>
              </div>
            </div>


            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Chetan Bangera</h2>
                  <p class="text-gray-500">Event Cords</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Shraddha Panchal</h2>
                  <p class="text-gray-500">Event Cords</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Trambakeshwar Mishra</h2>
                  <p class="text-gray-500">Event Cords</p>
                </div>
              </div>
            </div>




            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Vidhi Sharma</h2>
                  <p class="text-gray-500"> Creativity Head</p>
                </div>
              </div>
            </div>

            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Isha Sankala</h2>
                  <p class="text-gray-500">Anchoring Head</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Nandini Mondal</h2>
                  <p class="text-gray-500">Anchoring Head</p>
                </div>
              </div>
            </div>



            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Chris George</h2>
                  <p class="text-gray-500">Dpt Head</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Namit Ambekar</h2>
                  <p class="text-gray-500">Dpt Head</p>
                </div>
              </div>
            </div>


            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Prathamesh Pradhan</h2>
                  <p class="text-gray-500">Logistics & Volunteer Mgmt Head</p>
                </div>
              </div>
            </div>


            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Utkarsha Sherekar</h2>
                  <p class="text-gray-500">Performance Head</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Karan Shah</h2>
                  <p class="text-gray-500">Performance Head</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Aadesh Lokhande</h2>
                  <p class="text-gray-500">Performance Head</p>
                </div>
              </div>
            </div>

            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Isha Sawant</h2>
                  <p class="text-gray-500">Contingent Leader</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Ninad Pasarnikar</h2>
                  <p class="text-gray-500">Singing</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Samiksha Dhatavkar</h2>
                    <p class="text-gray-500">Admin</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Ashwathy Nair</h2>
                    <p class="text-gray-500">Public relations Head</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Vaishnavi Ghag</h2>
                    <p class="text-gray-500">Public relations Head</p>
                  </div>
                </div>
              </div>

              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Shivraj Pawar</h2>
                    <p class="text-gray-500">Marketing Head</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Aarya Hardikar</h2>
                    <p class="text-gray-500">Marketing Head</p>
                  </div>
                </div>
              </div>

              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                  <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">Rohan Bandichode</h2>
                    <p class="text-gray-500">Finance</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>

      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div id="cc" class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Faculty</h1>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Seema Ashar</h2>
                  <p class="text-gray-500">Cultural Convener</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Shayere Ghosh</h2>
                  <p class="text-gray-500">Committee Member</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Nitin Pawar</h2>
                  <p class="text-gray-500">Committee Member</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Jojan Mathai</h2>
                  <p class="text-gray-500">Committee Member</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Pooja Patil</h2>
                  <p class="text-gray-500">Committee Member</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div id="cc" class="flex flex-col text-center w-full mb-20">
            <h1  class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Developer Team</h1>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="/images/shubham1.jpg">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Shubham Dudhal</h2>
                  <p class="text-gray-500">Web Developer / SY (Bsc.CS)</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="/images/jyoti2.jpg">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Jyoti Panda</h2>
                  <p class="text-gray-500">Web Developer / SY (Bsc.CS)</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="\images\user.png">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Siddharth Maurya</h2>
                  <p class="text-gray-500">Web Developer / SY (Bsc.CS)</p>
                </div>
              </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          </body>
</html>