<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spectrum Events</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
  </head>
  <body>
    <nav
      id="mainNavbar"
      class="navbar navbar-dark navbar-expand-md py=0 fixed-top"
    >
      <img src="../images/speclogo.png" class="w-15 h-10" />
      <a href="../index.html" class="navbar-brand">Spectrum</a>
      <button
        type="button"
        href="#"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navlinks"
        active
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navlinks">
        <ul class="navbar-nav">
          <!-- Navbar sub-links -->
          <li class="nav-item">
            <a href="https://mccmulund.ac.in/new1/" class="nav-link"
              >About MCC</a
            >
          </li>
          <li class="nav-item">
            <a href="../views/cultcom.html" class="nav-link"
              >Cultural committee</a
            >
          </li>
          <li class="nav-item">
            <a href="../views/events.html" class="nav-link">Events</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1
            id="events"
            class="sm:text-4xl lg:text-5xl text-3xl font-medium title-font mb-4 text-gray-900"
          >
            Spectrum 2022 Events
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            “Believe in yourself. You are braver than you think, more talented
            than you know, and capable of more than you imagine.” ― Roy T.
            Bennett, The Light in the Heart
          </p>
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-gray-900 text-xl mt-5 title-font font-medium mb-2">
              <b>Enrol yourself on the battle of amazing events below</b>
            </h2>
            <a href="#" class="mt-0 text-indigo-500 inline-flex items-center">
              Click here to Enroll
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>

          <div class="flex my-3 flex-wrap -m-4">
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/DICEY DISHES.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PERFORMING ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    DICEY DISHES
                  </h1>
                  <p class="leading-relaxed">
                    Are you the one who likes to cook? Then this is Right place
                    to try your luck!!!
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/tap tales.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PERFORMING ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Tap Tales
                  </h1>
                  <p class="leading-relaxed">
                    Ever felt a whiff of freedom in those easy and simple moves?
                    Dance Does Wonders!
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/beat battle.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PERFORMING ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Beat Battle
                  </h1>
                  <p class="leading-relaxed">
                    Let your inner music producers pop out with his super fun
                    and engaging music rhythm.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/surokasangam.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PERFORMING ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Suro Ka Sangam
                  </h1>
                  <p class="leading-relaxed">
                    Suro ka sangam is for all those singers out there Get ready
                    and flaunt your melodious voice.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/rangmanch.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PERFORMING ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Rangmanch
                  </h1>
                  <p class="leading-relaxed">
                    Rangmanch is the platform for all the budding ACTORS out
                    there, bring out the actor in you.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/rapbattle.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PERFORMING ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Rap Battle
                  </h1>
                  <p class="leading-relaxed">
                    Don't fake, Don't shake, perform your own and win a chance
                    to shine. HUSTLE.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/kavi.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    LITERARY ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Kaviyon Ki Mehfil
                  </h1>
                  <p class="leading-relaxed">
                    Do you have the heart of a poet who likes to pour his
                    feelings on a paper? This is a chance for you.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/posterize.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    LITERARY ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Posterize
                  </h1>
                  <p class="leading-relaxed">
                    Creativity doesn't wait for that moment. It fashions its own
                    perfect moments out of ordinary ones.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/masque.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    LITERARY ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Masque O Splash
                  </h1>
                  <p class="leading-relaxed">
                    Decorate canvas as you like. Be creative, Be unique, Be you
                    and flaunt your talent out there.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/rebel.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    LITERARY ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Rebel Recycle
                  </h1>
                  <p class="leading-relaxed">
                    Can you transform the trash into a beautiful tranquil with a
                    innovative idea? If yes, this event is for you.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/mehendi.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    LITERARY ARTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Mehendi Artistica
                  </h1>
                  <p class="leading-relaxed">
                    The dream of your eyes reflects on the palms shades. Flaunt
                    the mehendi artist in you.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/AVADA.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    QUIZ
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Avada Quizeria!
                  </h1>
                  <p class="leading-relaxed">
                    For all the Potter heads there. Its a opputunity to unleash
                    the Hogwarts student inside you.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/anime.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    QUIZ
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Hokage Of Anime
                  </h1>
                  <p class="leading-relaxed">
                    Weebs can finally put their vast anime aptitude to use &
                    test while they flex their anime knowledge.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/whatever.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    QUIZ
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Whatever it takes
                  </h1>
                  <p class="leading-relaxed">
                    Think you know everything about Superheroes? Compete
                    eachother & test who's Nerdiest of all!!
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/film.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    QUIZ
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Filmistan
                  </h1>
                  <p class="leading-relaxed">
                    Do you have that Bollywood Keed? participate in this and
                    flaunt your bollywood knowledge.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/baam.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    QUIZ
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Baamboozled
                  </h1>
                  <p class="leading-relaxed">
                    The stakes are high, the questions are amusing, and the
                    answers would be even better!
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/meme.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    QUIZ
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Meme-It-Up
                  </h1>
                  <p class="leading-relaxed">
                    "Apne baap ko mat sikha", lets see who can really say this
                    here! quiz for Meme-maharathis
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/battleground.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    GAMING
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    The Dynamic Battleground
                  </h1>
                  <p class="leading-relaxed">
                    Pochinki utro, ya shooting range, CHICKEN DINNER nhi kiya
                    toh kya kiya?
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/battleoffive.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    GAMING
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    The battle of fives
                  </h1>
                  <p class="leading-relaxed">
                    Bring your gang to battle, Aim for the heads, showcase your
                    gaming skills & get the trophy!!!
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/lucky.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    GAMING
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Lucky Surviver
                  </h1>
                  <p class="leading-relaxed">
                    Sometimes, all what matters is damn luck, come let's see
                    who's the luckiest in the game of survival.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/corporate.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    BUSINESS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Corporate Hungama
                  </h1>
                  <p class="leading-relaxed">
                    Just come with us and experience the trill and the
                    excitement of corporate world. Explore & Learn.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/voice.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    SOCIAL CAUSE
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    The Voice of the Brains
                  </h1>
                  <p class="leading-relaxed">
                    A platfrom for you to voice your opinion & present your
                    views & ideas. Its time for the debate.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/illustrator.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PHOTOGRAPHY
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    I am Illustrator
                  </h1>
                  <p class="leading-relaxed">
                    Learn the rules like a pro, so that u can break them like a
                    designer!
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/versecom.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PHOTOGRAPHY
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Versecom Edits
                  </h1>
                  <p class="leading-relaxed">
                    Integrate your creativity, imagination, editing skills, and
                    innovative idea and participate in this event.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/clickapic.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    PHOTOGRAPHY
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Click-a-Pic
                  </h1>
                  <p class="leading-relaxed">
                    Who has the power to bring smile on anyone's for no reason?
                    A photographer right?
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/whodidit.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    STAR EVENTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Who did it?
                  </h1>
                  <p class="leading-relaxed">
                    Kuch toh gadbad hai Daya, kya gadbad hai vo aapko pata
                    lagana hai event mai participate kar ke!
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/saints.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    STAR EVENTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Saints and sinners
                  </h1>
                  <p class="leading-relaxed">
                    All saints go to heaven, you'd be surprised how many sinners
                    are waiting for you in hell.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/skills.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    STAR EVENTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Skills and thrillers
                  </h1>
                  <p class="leading-relaxed">
                    An OPEN HUB, for all the skilled people out there who loves
                    thrill, participate and also grow your skills
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/spectruminfinity.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    STAR EVENTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Spectrum Infinity League
                  </h1>
                  <p class="leading-relaxed">
                    End the game before THANOS get the INFINITY STONE GAUNTLET.
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="../event_img/hunt.png"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    STAR EVENTS
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Scavenger Hunt
                  </h1>
                  <p class="leading-relaxed">
                    Not all treasure's are gold and silver, Get ready to fetch
                    extraordinary things in this epic hunt!!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
