@font-face {
	font-family: 'verve' ;
	src: url('/fonts/verve/Verve.ttf') ;
}
@font-face {
	font-family: 'glitten';
	src: url('/fonts/Glitten/glitten.ttf');
}
body{
    background-color: rgba(0,0,0,0.2);
}
#cc
{
	margin-bottom: 20px;
}
#mainNavbar
{
	margin-top: 10px;
	margin-left: 10px;
	margin-right:10px;
	background-color: rgba(0,0,0,0.3);
    font-family: Glitten;
    border-radius: 10px;
	box-shadow:10px 10px 10px #888888 ;
}
#events
{
	text-shadow: 3px 3px 3px#888888;
}
.navbar-brand
{
    color: white;
}
.navbar-nav
{
	padding-top: 0;
	padding-bottom: auto;
	margin-bottom:auto;
}
#mv
{
	/* font-size: 5em; */
	font-family: verve;
	color: rgb(156, 37, 37);
    text-shadow: 2px 2px #888888
}
h1{
	/* font-size: 5em; */
	font-family: glitten;
}
/* .nav-link
{
	color: black!important;
} */
h2
{
	/* font-size: 2em; */
	font-family: glitten;
}
#abtspec
{
	color: black;
	font-size: large;
	font-family: gltten;
}
#h2
{
	/* font-size: 2em; */
	font-family: glitten;
}
footer{
	background-color: rgba(0,0,0,0.2);
	box-shadow: -10px -10px -10px #888888;
}
#footer
{	border-top: 2px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#navlinks{
	font-family: glitten;
}
#specNav{
	font-family: glitten;
}
/* #sp
{
	margin-right: 40px;
} */